### Emacs ###

# cosas que he ido quitando
.cache/
.dap-breakpoints
.extension
.last-package-update-day
.lsp-session-*
bookmarks
custom.el
eclipse.jdt.ls
eln-cache
elpy
history
ido.last
lsp-cache/
nov-places
org-roam.db
places
projectile-bookmarks.eld
recentf
semanticdb
transient
url
workspace
games

# -*- mode: gitignore; -*-
*~
\#*\#
**/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data
